---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Una página dedicada a tirarle a tu ex! Con juegos de preguntas, ruleta e incluso ahoracado">
		<meta name="keywords" content="ex, pareja, venganza, juego, ragosorio">
		<meta property="keywords" content="ex, pareja, venganza, juego, ragosorio">
		<meta name="robots" content="index, follow">
		<meta name="author" content="ragosorio">
		<meta property="og:author" content="ragosorio">
		<meta property="og:image" content="/favicon.svg">
		<meta name="image" content="/favicon.svg">
		<title>{title}</title>
	</head>
	<body class="bg-black flex justify-center items-center flex-col h-dvh w-screen">
		<slot />
	</body>
</html>